<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.logon.screen"
    android:versionCode="260"
    android:versionName="1.1"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/test_48"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiteSFA_TEST"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        >

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAbV0msHeHVPtAe973EiKdDbexKjmBRlk4" />


        <activity
            android:name=".screens.LogonScreen"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.MainMenu"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            >
        </activity>

        <activity
            android:name=".screens.Stocuri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.CreareComanda"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.SelectClientCmd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.SelectArtCmd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.SelectAdrLivrCmd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            >
        </activity>
        <activity
            android:name=".screens.Update"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.AfisComanda"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.PreturiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.ReduceriUlterioare"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.SelectClientReduceri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.SelectArtReduceri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.Harta"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.ModificareComanda"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.SelectArtModificareCmd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.AprobareComanda"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.SelectTipReducere"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.AfisReduceri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.GradReduceri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.SelectExceptiiReduceri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.User"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.ComenziBlocateLimCredit"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.CrashReport"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.InfoClient"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.CreareComandaGed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.SelectClientCmdGed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.SelectArtCmdGed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.SelectAdrLivrCmdGed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            >
        </activity>
        <activity
            android:name=".screens.AfisComenziSimulate"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.ComenziConditionate"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.CreareClp"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.AprobareClpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.AfisareClpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.CreareDispozitiiLivrare"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.AprobareDispozitiiLivrare"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.AfisareDispozitiiLivrareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".screens.ObiectiveKA"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.VanzariAgentiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.Neincasate"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.ClientiInactivi"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.InfoVenituri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.PreturiConcurenta"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.AdreseGpsClienti"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.NecesarArticoleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.ReturPaleti"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.AfisareReturMarfa"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.ClientiSemiactivi"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.AfiseazaObiectiveKA"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.AfiseazaObiectiveAgenti"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.StareComenzi"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            >
        </activity>
        <activity
            android:name=".screens.RealizareTarget"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.ReturComanda"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.ClientiFacturati"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.TestVoice"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.SpeechRecognizerSampleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.Delegatii"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.InstrumentePlata"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.SelectFurnizorCmd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.ModificareCustodie"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.AdrLivrCustodie"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.Ntcf"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.Salarizare"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.ObiectiveCva"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.ClientiAlocati"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.PierderiVanzari"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".screens.ModificareDataLivrare"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".dialogs.MapTest"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".screens.AfisareComandaReturStatus"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>



    </application>

</manifest>